.footer {
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 35px 0 20px;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: 202px 1fr 202px;
    gap: 20px;
    justify-items: stretch;
    align-items: center;
    margin: 0 0 40px 0;
}

.footer__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}

.footer__social-list {
    display: flex;
    gap: 15px;
    margin: 0 0 0 20px;
}

.footer__nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px 50px;
    justify-content: center;
}

.footer__nav-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    display: flex;
}

.footer__right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__contacts-text {
    color: #475009;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.footer__contacts-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: underline;
}

.footer__copyright {
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    color: #475009;
    text-align: right;
    margin: 0;
    padding: 0;
}