.btn {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 168px;
    border: none;
    background-color: #476BF0;
    border-radius: 60px;
    cursor: pointer;
}

.btn--continue {
    padding: 14px 143px;
    background-color: #DBDFEB;
    color: #777C9B;
}

.btn--register {
    padding: 14px 143px;
}