.custom-input {
    display: grid;
    grid-template-columns: repeat(2, 188px);
    gap: 20px 10px;
}

.custom-input--list {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-bottom: 24px;
}

.custom-input__item {
    width: 386px;
    position: relative;
    grid-column: span 2;
}

.custom-input__item--name {
    grid-column: 1/2;

}

.custom-input__item--surname {
    grid-column: 2/3;
}

.custom-input__item--captcha {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 188px);
    gap: 0 10px;
    position: relative;
}

.custom-input__login {
    border-radius: 8px;
    border: 1px solid #CDCFDE;
    width: 386px;
    height: 44px;
    padding: 0 44px 0 20px;
}

.custom-input__item:hover .custom-input__login {
    border: 1px solid #3356D7;
}

.custom-input__item:hover .custom-input__icon {
    color: #3356D7;
}

.custom-input__item:focus-within .custom-input__login {
    border: 1px solid #3356D7;
    outline: none;
}

.custom-input__item:focus-within .custom-input__icon {
    color: #3356D7;
}

.custom-input__item:invalid {
    border: 1px solid #F9C4C2;
    outline: none;
    background-color: #FFFBFB;
}

.custom-input__item:invalid ~ .custom-input__icon {
    color: #F9C4C2;
}

.custom-input__login::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: #8F939F;
}

.custom-input--register .custom-input__login {
    padding-left: 15px;
}

.custom-input__item--name .custom-input__login {
    width: 188px;
}

.custom-input__item--surname .custom-input__login {
    width: 188px;
}

.custom-input__item--captcha .custom-input__login {
    width: 188px;
    grid-column: 1/2;
}

.custom-input__text {
    font-size: 14px;
    line-height: 16px;
    color: #8F939F;
    margin: 0;
    position: absolute;
    top: -8px;
    left: 16px;
    background-color: #fff;
    padding: 0 4px;
}

.custom-input--register .custom-input__text {
    left: 13px;
}

.custom-input__icon {
    color: #8F939F;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-input_forgot:hover {
    color: #3356D7;
}

.custom-input__captcha-title {
    font-size: 16px;
    line-height: 20px;
    color: #8F939F;
    font-weight: 400;
    margin-bottom: 8px;
    display: block;
}

.custom-input__captcha-img {
    height: 44px;
    padding: 0 32px;
    border-radius: 8px;
    border: 1px solid #CDCFDE;
    grid-column: 2/3;
    grid-row: 2/3;
}

.custom-input__captcha-icon {
    color: #8F939F;
    position: absolute;
    top: 4px;
    right: 0;
    cursor: pointer;
}

.custom-input__error {
  display: none;
  font-size: 12px;
  color: #f44336;
  margin-top: 4px;
  margin-left: 2px;
}

.custom-input__logininvalid + .custom-input__error {
  display: block;
}

.custom-input__login:invalid {
  border-color: #f44336;
  background-color: #fff5f5;
}
