.custom-radio {
    position: relative;
}

.custom-radio__label {
    padding-left: 24px;
    margin: 0;  
}

.custom-radio__field {
    appearance: none;
}

.custom-radio__name {
    font-size: 16px;
    line-height: 20px;
    color: #1E222E;
    margin: 0;
}

.custom-radio__field::before {
    content: "";
    border: 1px solid #CDCFDE;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
