.description {
    padding: 242px 0;
}

.description__list {
    list-style-type: none;
    margin-left: 60px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E222E;
}

.description__list .description__item {
    position: relative;
    counter-increment: example 1;
}

.description__list .description__item::before {
    content: counter(example);
    display: inline-block;
    position: absolute;
    padding-top: 7px;
    top: 0;
    left: -60px;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #4F6AE8;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    border-radius: 50%;
}


.description__title {
    font-size: 24px;
    line-height: 28px;
    color: #1E222E;
    font-weight: 400;
    margin: 0;
    margin-bottom: 32px;
}

.description__text {
    margin: 0;
    margin-bottom: 32px;
}

.description__item--third .description__text {
    padding-top: 10px;
}