.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $vp-tablet) {
    padding: 0 20px;
  }

  @media (min-width: $vp-desktop) {
    padding: 0 40px;
  }

  @media (min-width: $vp-desktop-lg) {
    padding: 0 156px;
  }
}