@use "../global/variables" as *;

.main-nav {
  margin: 0 20px 0 0;

  &__list {
    align-items: center;
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    color: $color-black-russian;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    white-space: nowrap;

    &:hover,
    &:focus-visible {
      color: $color-royal-blue-1;
    }
  }

  &__sub-button {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  &__item--with-submenu:hover .main-nav__sublist,
  &__item--with-submenu:focus-within .main-nav__sublist {
    opacity: 1;
    visibility: visible;
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: $color-white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 8px 0 0 0;
    padding: 16px 20px;
    position: absolute;
    width: max-content;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    cursor: pointer;

    &::before {
      content: "";
      height: 12px;
      width: 100%;
      position: absolute;
      top: -12px;
      left: 0;
      cursor: pointer;
    }
  }
}