.buttons-cookies {
    position: fixed;
    right: 15px;
    top: 605px;

    &__button {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        color: $color-white;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        background-color: $color-black-russian;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
}