.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 15px 0;
  background-color: $color-white;

  @include vp-768 {
    padding: 20px 0;
  }

  @include vp-1024 {
    padding: 16px 0;
    background-color: $color-solitude-2;
    margin-bottom: 15px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon-decor {
    display: none;
    width: 24px;
    height: 24px;
    margin: 0 24px 0 0;

    @include vp-1024 {
      display: block;
    }
  }

  &__logo-link {
    display: flex;
    margin: 0 auto 0 0;
    color: $color-royal-blue-1;

    @include vp-768 {
      margin: 0 40px 0 0;
    }

    &:hover,
    &:focus-visible {
      color: $color-free-speech-blue;
    }
  }

  &__logo-image {
    @include vp-1024 {
      width: 170px;
      height: 36px;
    }
  }

  &__links {
    display: flex;
    align-items: center;

    &:first-of-type {
      margin: 0 auto 0 0;
    }

    &:last-of-type {
      @include vp-1024 {
        margin: 0 8px 0 0;
      }
    }
  }

  &__link {
    display: none;
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus-visible,
    &:active {
      color: $color-royal-blue-1;
    }

    @include vp-1024 {
      display: flex;
    }

    &--light {
      color: $color-storm-grey-1;

      &:last-child {
        margin: 0 auto 0 0;
      }

      &:hover,
      &:focus-visible,
      &:active {
        color: $color-black-russian;
      }

      @include vp-1024 {
        display: none;
      }

      @include vp-1304 {
        display: flex;
      }
    }

    &--active {
      color: $color-royal-blue-1;

      &:hover,
      &:focus-visible {
        color: $color-royal-blue-2;
      }
    }
  }

  &__search {
    margin: 0 20px 0 0;

    @include vp-1024 {
      margin: 0 28px 0 0;
    }
  }

  .header__login {
    display: none;

    @include vp-1024 {
      display: flex;
      margin: 0 16px 0 0;
    }
  }

  &__form {
    @media (min-width: $vp-desktop) {
      display: flex;
      justify-content: center;
      gap: 16px;
    }
  }

  &__input {
    display: flex;
    justify-content: center;
    position: relative;

    @media (min-width: $vp-desktop) {
      width: 818px;
    }

    @media (min-width: $vp-desktop-lg) {
      width: 1098px;
    }
  }

  &__field {
    min-width: 100%;
    height: 52px;
    padding: 14px 70px 14px 16px;
    border-radius: 8px;
    border: 1px solid $color-periwinkle;

    @media (min-width: $vp-desktop) {
      height: 56px;
    }
  }

  &__reset {
    position: absolute;
    top: 50%;
    right: 52px;
    transform: translateY(-50%);
    cursor: pointer;
    color: $color-mischka;
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    color: $color-mischka;
  }

  &__search-bar {
    max-width: 100%;
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 25px 15px 40px 15px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    position: fixed;
    left: 0;
    background-color: $color-white;
    z-index: 11;

    @media (min-width: $vp-tablet) {
      width: 768px;
      padding-top: 50px;
    }

    @media (min-width: $vp-desktop) {
      top: 70px;
      width: 1024px;
      padding-inline: 40px;
      padding-top: 40px;
    }

    @media (min-width: $vp-desktop-lg) {
      width: 1536px;
      padding: 60px 100px;
    }

    .examples {
      padding-inline: 0;

      @media (min-width: $vp-desktop-lg) {
        padding-inline: 57px;
      }
    }
  }

  &--overlay {
    &::before {
      content: "";
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color-black-russian, 0.5);
      z-index: 9;
      pointer-events: none;
    }

    .header__search-bar {
      display: flex;
    }
  }

  &__submit {
    display: none;

    @media (min-width: $vp-desktop) {
      display: inline-block;
      padding: 19px 32px;
      height: 56px;
      width: 110px;
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      color: $color-white;
      background-color: $color-royal-blue-1;
      border-radius: 8px;
      border: none;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        background-color: $color-royal-blue-2;
      }
    }
  }
}
