.pages {
    margin: 0 0 60px 0;

    @media (min-width: $vp-desktop) {
        margin: 0 0 100px 0;
    }

    &__yandex {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    &__yandex-text {
        font-size: 13px;
        line-height: 16px;

        @media (min-width: $vp-tablet) {
            font-size: 14px;
            line-height: 18px;
        }
    }
}