.results-card {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__title {
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;

        @media (min-width: $vp-desktop) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__text {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 18px;

        @media (min-width: $vp-desktop) {
            font-size: 16px;
            line-height: 22px;
        }
    }
}