.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 16px;
    padding: 14px 18px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    cursor: pointer;
}

.btn--m {
    min-width: 276px;
    height: 56px;
}

.btn--s {
    width: 131px;
    height: 40px;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    background: #239DD6;
}

.btn--s:hover {
    background: #9D1881;
}

.btn--s:focus-visible {
    background: #771061;
}

.btn--s:disabled {
    color: #858385;
    background: #F0F0F0;
}

.btn--blue {
    background: linear-gradient(270deg, #537CCB 0%, #13AED7 100%);
}

.btn--indigo {
    background: linear-gradient(270deg, #9548BD 0%, #547CCB 100%);
}

.btn--magenta {
    background: linear-gradient(270deg, #D812AE 0%, #9548BD 100%);
}

.btn--blue:hover, .btn--blue:focus-visible {
    background: #537CCB;
    outline: none;
}

.btn--indigo:hover, .btn--indigo:focus-visible {
    background: #9548BD;
    outline: none;
}

.btn--magenta:hover, .btn--magenta:focus-visible {
    background: #D812AE;
    outline: none;
}