.option {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 14px 16px;
    padding-right: 56px;
    border: 2px solid #E2E6F1;
    border-radius: 20px;
    cursor: pointer;
}

.option:hover {
    border-color: #259DD6;
}



.option:has(.option__radio:checked) {
    border-color: #259DD6;
}

.option:hover .option__box {
    border-color: #259DD6;
}

.option__text {
    display: grid;
    gap: 8px;
    min-width: 0;
}

.option__title {
    font-size: 20px;
    font-weight: 800;
    color: #1E222E;
    display: flex;
    gap: 10px;
    align-items: center;
}

.option__title--first-card {
    margin-bottom: 2px;
}

.option__period {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: #343033;
}

.option__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #343033;
}

.option__note {
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    color: #343033;
    width: 164px;
    display: block;
}

.option__note strong {
    font-weight: 800;
}

.option__note--up{
    margin-bottom: 3px;
}

.option__radio {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 17px;
    right: 14px;
}

.option__label::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid #259DD6;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 17px;
    right: 14px;
    z-index: 0;
    cursor: pointer;
}

.option__check {
    position: absolute;
    right: 20px;
    top: 23px;
    opacity: 1;
    pointer-events: none;
    z-index: 1;
    color: #fff;
}

.option__radio:checked+.option__label::after {
    background-color: #259DD6;
    border: none;
}

.option__strong {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
}

.option__strong--text {
    font-size: 14px;
    line-height: 130%;
}