.radio-card {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 36px;
    cursor: pointer;
}

.radio-card__input {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -2px;
    left: 0px;
}

.radio-card__input:focus-visible {
    outline: none;
}

.radio-card__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    cursor: pointer;
}

.radio-card__label::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid #259DD6;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -2px;
    left: 0px;
    z-index: 0;
    cursor: pointer;
}

.radio-card__check {
    position: absolute;
    left: 6px;
    top: 4px;
    opacity: 1;
    pointer-events: none;
    z-index: 1;
    color: #fff;
}

.radio-card__input:checked + .radio-card__label::after {
    background-color: #259DD6;
    border: none;
}