.section--plans {
  margin-bottom: 100px;
}

.section__title {
  margin: 0 auto 60px;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #1E222E;
  text-align: center;
}

.section__hashtag {
  color: #259DD6;
}

.section--order {
  padding: 0 56px;
}

.section--order .section__title {
  margin-bottom: 40px;
  font-size: 44px;
}