.section--plans {
  margin-bottom: 100px;
  padding: 40px 0 0 0;
}

.section__title {
  margin: 0 auto 60px;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #1E222E;
  text-align: center;
}

.section__hashtag {
  color: #259DD6;
}

.section--order {
  padding: 0 50px 100px;
}

.section--order .section__title {
  margin-bottom: 40px;
  font-size: 44px;
}

.section__link {
    text-decoration: underline;
    color: #239DD6;
    cursor: pointer;
}

.section__link:hover{
    color: #9D1881;
}

.section__note {
  margin: 0 0 0 50px;
  font-size: 12px;
  color: #6B7280;
}

.section__note a:hover {
    text-decoration: underline;
}