.stepper {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 12px;
    margin: 0;
    margin-bottom: 36px;
    justify-content: space-around;
    align-items: center;
}

.stepper__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.stepper__point {
    font-weight: 700;
    font-size: 14px;
    line-height: 115%;
    padding: 4px 14px;
    border-radius: 60px;
    color: #858385;
    background-color: #F0F0F0;
}

.stepper__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 115%;
    color: #858385;
}

.stepper__ster--first .stepper__point {
    color: #fff;
    background-color: #239DD6;
}

.stepper__ster--first .stepper__caption {
    color: #343033;
}

.stepper__line {
    width: 86px;
    height: 2px;
    background: #F0F0F0;
}