.offers-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 300px 300px 280px 300px;
  gap: 20px;
}

.offers-list__item--size--xl {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.offers-list__item--blue {
  grid-column: 3 / 4;
  grid-row: span 2;
}


