.plan {
  display:grid;
  grid-template-columns:repeat(3,340px);
  gap: 16px;
}

.plan__card {
    background: #FFFFFF;
    border-radius: 28px;
    border: 1px solid #E2E4E8;
    padding: 36px 31px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan__head {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin: 0 0 10px 0;
}

.plan__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    margin: 0;
}

.plan__title-row {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.plan__badge {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 115%;
    color: #fff;
    background: linear-gradient(90deg, #537CCB 0%, #9648BD 100%);
}

.plan__stats {
    display: flex;
    align-items: center;
    gap: 18px;
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    justify-content: space-evenly;
}

.plan__stat {
    display: grid;
    gap: 5px;
    justify-items: center;
}

.plan__stat-num {
    font-weight: 800;
    font-size: 24px;
    line-height: 1;
    color: #1E222E;
}

.plan__stat-label {
    font-size: 12px;
    color: #6B7280;
    letter-spacing: .03em;
}

.plan__stat--divider {
    width: 2px;
    height: 34px;
    background: #999899;
}

.plan__list {
    list-style: none;
    margin: 0 0 11px 0;
    padding: 0;
    display: grid;
    gap: 12px;
    width: 204px;
}

.plan__feature {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 8px;

}

.plan__feature__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    background: #F2F4FA;
    color: #2B79E3;
    fill: currentColor;
}

.plan__feature__text {
    color: #424754;
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
}

.plan__more {
    margin: 0 0 26px;
}

.plan__actions {
    margin-top: 8px;
}