.about-card {
  position: relative;
  padding: 28px;
  display: flex;
  align-items: center;
  gap: 0 28px;
  border-radius: 16px;
  background-color: $color-white;
  box-shadow: 0 6px 20px 0 $color-gulf-blue-2;

  &:hover, &:focus {
      background-color: $color-solitude-1;
    }

  @media (min-width: $vp-desktop) {
    min-height: 240px;
    align-items: start;
    padding: 32px;
    box-shadow: none;
    background-color: $color-solitude-2;
    flex-direction: column;
  }

  @media (min-width: $vp-desktop-lg) {
    min-height: 300px;
  }

  &--large {
    padding: 20px;
    min-height: 200px;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color-solitude-2;
    box-shadow: none;

    .about-card__title {
      margin: 0;
      max-width: 150px;
      font-size: 18px;
      line-height: 22px;

      @media (min-width: $vp-tablet) {
        max-width: 200px;
      }

      @media (min-width: $vp-desktop) {
        max-width: 430px;
        font-size: 30px;
        line-height: 36px;
        font-weight: 600;
      }
    }

    @media (min-width: $vp-tablet) {
      padding: 28px;
    }

    @media (min-width: $vp-desktop) {
      min-height: 352px;
      padding: 32px;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    color: $color-black-russian;

    @media (min-width: $vp-desktop) {
      margin: 0 0 16px 0;
    }
  }

  &__icon-arrow {
    display: none;
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 32px;
    left: 32px;
    padding: 14px;
    color: $color-black-russian-2;
    background-color: $color-solitude-3;
    border-radius: 8px;
    fill: currentColor;
    stroke: currentColor;

    @media (min-width: $vp-desktop) {
      display: block;
    }

    &:hover, &:focus {
      background-color: $color-link-water;
    }
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $vp-desktop) {
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
      margin: 0 0 16px 0;
    }
  }

  &__description {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: none;

    @media (min-width: $vp-desktop) {
      display: block;
    }
  }

  &__image-small {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 80px;
    height: 80px;

    @media (min-width: $vp-desktop) {
      width: 120px;
      height: 120px;
      right: 20px;
      top: 100px;
    }

    @media (min-width: $vp-desktop-lg) {
      right: 20px;
      top: 192px;
    }
  }

  &__image-large {
    position: absolute;
    right: 40px;
    bottom: 0;
    width: 140px;
    height: 140px;

    @media (min-width: $vp-desktop) {
      width: 240px;
      height: 240px;
      right: 150px;
      bottom: 32px;
    }

    @media (min-width: $vp-desktop-lg) {
      right: 60px;
      bottom: 20px;
    }
  }
}