.about {
  overflow: hidden;
  padding: 40px 0 60px 0;

  @media (min-width: $vp-tablet) {
    padding: 39px 0 80px 0;
  }

  @media (min-width: $vp-desktop) {
    padding: 43px 0 102px 0;
  }

  @media (min-width: $vp-desktop-lg) {
    padding: 43px 0 120px 0;
  }

  &__title {
    position: relative;
    margin: 0 0 40px 0;
    padding: 0 0 28px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;

    &::after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: 0;
      width: 100vw;
      height: 1px;
      transform: translate3d(-50%, 0, 0);
      background-color: $color-hawkes-blue;
    }
    
    @media (min-width: $vp-tablet) {
      font-size: 32px;
      line-height: 36px;
      margin: 0 0 60px 0;
      padding: 0 0 32px 0;
    }

    @media (min-width: $vp-desktop) {
      font-size: 40px;
      line-height: 44px;
      margin: 0 0 77px 0;
      padding: 0 0 40px 0;
    }

    @media (min-width: $vp-desktop-lg) {
      font-size: 40px;
      line-height: 44px;
    }
  }

  &__main-list {
    list-style: none;
    padding: 0;
    margin: 0 0 24px 0;
    display: grid;
    gap: 24px;

    @media (min-width: $vp-desktop) {
      grid-template-columns: 1fr;
      gap: 20px;
      margin: 0 0 20px 0;
    }

    @media (min-width: $vp-desktop-lg) {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      margin: 0 0 24px 0;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 23px;

    @media (min-width: $vp-tablet) {
      gap: 24px;
    }

    @media (min-width: $vp-desktop) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media (min-width: $vp-desktop-lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }
}
