.achievements {
  margin: 0 0 60px 0;

  @media (min-width: $vp-tablet) {
    margin: 0 0 80px 0;
  }

  @media (min-width: $vp-desktop) {
    margin: 0 0 100px 0;
  }

  @media (min-width: $vp-desktop-lg) {
    margin: 0 0 120px 0;
  }
  &__title {
    margin: 0 0 28px 0;
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    @media (min-width: $vp-tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $vp-desktop) {
      gap: 20px;
    }

    @media (min-width: $vp-desktop-lg) {
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
  }
}
}