@use "../global/variables" as *;
@use "../global/mixins" as *;

.aside {
    min-width: 330px;
    min-height: 246px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px 0px #141A2B29;
    padding: 20px;
    margin: 0 0 61px 0;

    @include vp-768 {
        padding: 24px;
    }

    @include vp-1024 {
        box-shadow: none;
        border-radius: none;
        padding: 0;
        min-height: 144px;
        margin-bottom: 100px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        list-style: none;
        margin: 0;
        padding: 0;

        @include vp-768 {
            gap: 24px;
        }

        @include vp-1024 {
            display: grid;
            grid-template-columns: repeat(3, 298px);
            gap: 25px;
            align-items: center;
            justify-content: center;
        }

        @include vp-1304 {
            grid-template-columns: repeat(3, 392px);
            gap: 32px;
        }
    }

    &__item {
        @include vp-1024 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            padding: 32px 20px;
            background-color: $color-solitude-1;
        }
    }

    &__title {
        display: block;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        margin: 0 0 4px 0;

        @include vp-1024 {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 8px;
        }
    }

    &__text {
        display: block;
        font-size: 14px;
        line-height: 18px;
        color: $color-storm-grey-1;
        max-width: 287px;

        @include vp-768 {
            max-width: 100%;
            font-size: 16px;
            line-height: 22px;
        }

        @include vp-1024 {
            text-align: center;
        }
    }
}