@use "../global/variables" as *;
@use "../global/mixins" as *;

.benefits-card {
    max-width: 100%;
    min-height: 200px;
    border-radius: 12px;
    background-color: $color-solitude-1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include vp-768 {
        padding: 24px;
        min-height: 280px;
    }

    @include vp-1024 {
        background-color: $color-white;
        border-radius: 0px;
        align-items: center;
        gap: 0;
        padding: 0;
        min-height: 244px;
    }

    @include vp-1304 {
        max-width: 392px;
        min-height: 200px;
    }

    &__icon {
        @include vp-1024 {
            width: 64px;
            height: 64px;
            padding: 16px;
            color: $color-white;
            background-color: $color-royal-blue-1;
            border-radius: 12px;
            margin-bottom: 20px;
        }
    }

    &__title {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;

        @include vp-768 {
            max-width: 186px;
        }

        @include vp-1024 {
            text-align: center;
            font-size: 24px;
            line-height: 28px;
            max-width: 295px;
            margin-bottom: 16px;
        }

        @include vp-1304 {
            max-width: 100%;
        }
    }

    &__text {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 18px;
        color: $color-storm-grey-3;

        @include vp-768 {
            max-width: 186px;
        }

        @include vp-1024 {
            max-width: 100%;
            text-align: center;
            font-size: 16px;
            line-height: 22px;
        }

        @include vp-1304 {
            max-width: 390px;
        }
    }

    &__link {
        color: $color-royal-blue-1;

        &:hover,
        &:focus {
            color: $color-free-speech-blue;
        }
    }
}