@use "../global/variables" as *;
@use "../global/mixins" as *;

.benefits {
    &__title {
        margin: 0 0 16px 0;
        padding: 0;
        font-size: 26px;
        line-height: 32px;
        font-weight: 600;

        @include vp-768 {
            font-size: 28px;
            line-height: 32px;
        }

        @include vp-1024 {
            font-size: 38px;
            line-height: 44px;
            max-width: 696px;
            margin: 0 auto 20px auto;
            text-align: center;
            position: relative;
        }

        &::before {
            @include vp-1024 {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                bottom: 0;
                width: 100vw;
                height: 2px;
                transform: translate3d(-50%, 0, 0);
                background-color: $color-royal-blue-1;
            }
        }


        &::after {
            @include vp-1024 {
                position: absolute;
                content: "";
                top: 45%;
                left: 50%;
                bottom: 0;
                width: 736px;
                height: 10px;
                transform: translate3d(-50%, 0, 0);
                background-color: $color-white;
            }
        }
    }

    &__description {
        display: block;
        max-width: 100%;
        font-size: 16px;
        line-height: 22px;
        color: $color-storm-grey-1;
        margin: 0 0 26px 0;

        @include vp-768 {
            max-width: 100%;
            font-size: 16px;
            line-height: 22px;
            margin: 0 0 32px 0;
        }

        @include vp-1024 {
            max-width: 480px;
            margin: 0 auto 60px auto;
            text-align: center;
            font-size: 18px;
            line-height: 24px;
        }

        @include vp-1304 {
            margin-bottom: 80px;
        }
    }

    &__list {
        list-style: none;
        margin: 0 0 60px 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        justify-content: center;

        @include vp-768 {
            grid-template-columns: repeat(3, 234px);
            gap: 13px;
            margin-bottom: 75px;
        }

        @include vp-1024 {
            grid-template-columns: repeat(3, 298px);
            gap: 60px 25px;
            justify-content: center;
            margin-bottom: 106px;
        }

        @include vp-1304 {
            grid-template-columns: repeat(3, 392px);
            margin-bottom: 139px;
        }
    }
}