@use "../global/variables" as *;
@use "../global/mixins" as *;

.promo {
    display: flex;
    gap: 25px;
    min-width: 330px;
    min-height: 100px;
    align-items: center;
    padding: 8px 0 8px 20px;
    background-color: $color-alice-blue;
    border-radius: 16px;
    justify-content: space-between;

    @include vp-768 {
        justify-content: space-between;
        position: relative;
        padding-left: 24px;
    }

    @include vp-1024 {
        min-width: auto;
        padding: 48px 32px 48px 119px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        max-width: 157px;

        @include vp-1024 {
            font-size: 24px;
            line-height: 28px;
            max-width: 100%;
        }
    }

    &__description {
        font-size: 14px;
        line-height: 18px;
        max-width: 162px;

        @include vp-768 {
            max-width: 100%;
        }

        @include vp-1024 {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__image {
        width: 125px;
        height: 84px;

        @include vp-768 {
            width: 174px;
            height: 116px;
        }

        @include vp-1024 {
            width: 260px;
            height: 175px;
        }
    }

    &__picture {
        @include vp-768 {
            position: absolute;
            top: 42%;
            right: 40px;
            transform: translateY(-50%);
        }

        @include vp-1024 {
            right: 184px;
        }
    }
}