@use "../global/variables" as *;
@use "../global/mixins" as *;

.services {
    margin: 0 0 60px 0;
    overflow: hidden;

    @include vp-1024 {
        margin-bottom: 100px;
    }

    @include vp-1304 {
        margin-bottom: 121px;
    }
}