@use "../global/variables" as *;

.link {
  align-items: center;
  color: $color-black-russian;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 4px;
  line-height: 18px;
  transition: color $transition-300;
  position: relative;

  &__icon {
    position: absolute;
    left: 153px;
    transition: transform $transition-300;
  }

  &:hover,
  &:focus-visible {
    color: $color-summer-sky;
    
    .link__icon {
      transform: translateX(5px);
    }
  }

  &--xs {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: $color-summer-sky;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transition: background-color $transition-300, bottom $transition-300;
    }

    &:hover,
    &:focus-visible {
      color: $color-dark-purple;

      &::before {
        bottom: -2px;
      }
    }
  }

  &--s {
    color: $color-summer-sky;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;

    &:hover,
    &:focus-visible {
      color: $color-dark-purple;
    }
  }

  &--m {
    font-size: 13px;
    line-height: 16px;
    color: $color-royal-blue-1;

    &:hover,
    &:focus-visible {
      color: $color-royal-blue-2;
    }
  }

  &--xl {
    font-size: 20px;
    line-height: 28px;

    &:hover,
    &:focus-visible {
      color: $color-royal-blue-1;
    }
  }
}