.sidebar {

  &__heading {
    margin: 0 0 24px 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;

    @include vp-1023 {
      margin-bottom: 20px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }

  &__text {
    margin: 0 0 48px 0;
    color: $color-storm-grey;
    font-size: 18px;
    line-height: 24px;

    @include vp-1023 {
      margin-bottom: 40px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

  &__button {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  &__categories {
    margin: 0 0 60px 0;
  }

  &__socials {
    margin: 0 0 24px 0;
  }

  &__share {
    margin: 0 0 12px 0;
    color: $color-storm-grey;
    font-size: 13px;
    line-height: 16px;
    display: block;
  }

  &__copyright {
    margin: 0;
    color: $color-storm-grey;
    font-size: 13px;
    line-height: 16px;
  }
}
